.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.imageStyle{
  width: 192px;
  height: 192px;
}

.listitem{
  display: inline-block;
  margin: 8px;
}

.habitcard{
  width: 256px;
  height: 128px;
  background-color: burlywood;
  margin: 16px;
}

.receipecard{
  width: 320px;
  height: 320px;
  margin: 16px;
}

.habitcardview{
  width: 256px;
  height: 128px;
  background-color: cornflowerblue;
  margin: 16px;
}

.buttonStyle{
  width: auto;
  height: 40px;
  padding: 8px;
  margin: 8px;
  background-color: orange;
  color: white;
}

.headerstyle{
  width: 192px;
  height: 40px;
  background-color: bisque;
  margin-left: 64px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
